/* For testing only */

*:not(body):not(html) {
  box-sizing:border-box;
  border:1px dashed #000;
}

.columns {
  min-height: 100px;
}

/* End for testing */
body {
  margin: 0;
}
.container {
  width: 98%;
  margin: 0 auto;
}
.wrap {
  width: 95%;
  margin: 10px auto 0;
  text-align: center;
}
.secondary {
  background-color: rgba(0, 0, 0, 0.9);
  margin-top: 10px;
  height: 25%;
}
/*Media Queries*/
@media screen and (min-width: 300px) {
  .secondary {
    width: 47.5%;
    display: inline-block;
  }
}

@media screen and (min-width: 790px) {
  .wrap {
    margin-top: 40px;
  }
  .secondary {
    width: 31%;
    height: 15vw;
  }
}